<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">PC Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/categories/monitors">Monitors</a></li>
                <li><a class="dropdown-item" href="/categories/ssd">SSD</a></li>
                <li><a class="dropdown-item" href="/categories/processors">Processors</a></li>
                <li><a class="dropdown-item" href="/categories/graphic_cards">Graphic Cards</a></li>
              </ul>
            </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.gcweb.dev/"
            target="_blank" rel="noopener noreferrer">
            Contact
            </a>
          </li>
        </ul>
        <div class="input-group mx-auto" style="max-width: 500px;">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn btn-outline-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/>
                </svg>
            </button>
        </div>
        <div class="ms-auto">
            <a class="btn btn-outline-light" href="/users/login">Login</a>
            <a class="btn btn-outline-light" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart">
                <circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/>
                <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
                </svg>
            </a>
        </div>
      </div>
    </div>
  </nav>